@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(0, 0, 0);
  background: whitesmoke;
}
.products-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.pagination li {
  font-size: 14px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 1.8;
}
.pagination li.selected {
  background-color: #ff5c31;
  color: #fff;
  border-radius: 100%;
}
